---
import Layout from "../layouts/Layout.astro";

import { projects } from '../util/content'
---

<Layout title="Projects">
    <style>
        main {
            padding-top: 4rem;
        }
        
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0;
        }

        #project-list img {
            width: calc(30% - 1rem);
            height: fit-content;
            object-fit: cover;
            aspect-ratio: 1.6;
            margin: 0.3rem;
        }

        #project-list h3 {
            margin: 1rem 0 0.5rem 0;
        }

        #project-list > li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

        #project-list > li > * {
            margin: 0;
        }

        @media (max-width: 720px) {
            #project-list img {
                width: 100%;
            }
            #project-list > li {
                flex-direction: column;
                align-items: baseline;
                gap: 0.5rem;
            }
            #project-list > li > *:last-child {
                padding-left: 0.5rem;
            }
        }
    </style>
    <main>
        <a
            href="/"
            style="display: flex; flex-direction: row; align-items: center; gap: 1rem;"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                width="24px"
                height="24px"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18"></path>
            </svg>
            Back home</a
        >
        <h1 style="text-align: center;">Projects</h1>
        <p style="text-align: center;">
            Here are a few of my completed personal projects, you can find more on my <a
                href="https://github.com/expitau">Github</a
            >
        </p>
        <ul id="project-list" style="margin-top: 4rem">
            {
                projects.map((project) => {
                    return (
                        <li>
                            <img
                                style="cursor: pointer;"
                                onclick={`location.href='${project.data.url}'`}
                                src={project.data.heroImage}
                            />
                            <div>
                                <h3>
                                    <a href={project.data.url}>
                                        {project.data.title}
                                    </a>
                                </h3>
                                <p>
                                    {project.data.longDescription ||
                                        project.data.description}
                                </p>

                                <div style="display: flex; flex-direction: row; gap: 2rem">
                                    {project.data.url && (
                                        <a
                                            class="hyperlink"
                                            style="color: var(--accent)"
                                            href={project.data.url}
                                        >
                                            Source Code
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                                width="16"
                                                height="16"
                                                aria-hidden="true"
                                            >
                                                <>
                                                    <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z" />
                                                    <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z" />
                                                </>
                                            </svg>
                                        </a>
                                    )}
                                    {project.data.liveUrl && (
                                        <a
                                            class="hyperlink"
                                            style="color: var(--accent)"
                                            href={project.data.liveUrl}
                                        >
                                            Live Demo
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                                width="16"
                                                height="16"
                                                aria-hidden="true"
                                            >
                                                <>
                                                    <path d="M12.232 4.232a2.5 2.5 0 013.536 3.536l-1.225 1.224a.75.75 0 001.061 1.06l1.224-1.224a4 4 0 00-5.656-5.656l-3 3a4 4 0 00.225 5.865.75.75 0 00.977-1.138 2.5 2.5 0 01-.142-3.667l3-3z" />
                                                    <path d="M11.603 7.963a.75.75 0 00-.977 1.138 2.5 2.5 0 01.142 3.667l-3 3a2.5 2.5 0 01-3.536-3.536l1.225-1.224a.75.75 0 00-1.061-1.06l-1.224 1.224a4 4 0 105.656 5.656l3-3a4 4 0 00-.225-5.865z" />
                                                </>
                                            </svg>
                                        </a>
                                    )}
                                </div>
                            </div>
                        </li>
                    );
                })
            }
        </ul>
    </main>
</Layout>
